@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --primary-font: 'Hanken Grotesk', sans-serif;
    /* Primary color */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --versian-blue-circle: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    font-family: var(--primary-font);
}

button {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    color: var(--pale-blue);
    background-color: var(--light-royal-blue-background);
    font-family: var(--primary-font);
    font-weight: 700;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
}

button:hover {
    cursor: pointer;
    background-color: var(--dark-gray-blue);
}

.container {
    display: flex;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    box-shadow: hsl(224, 30%, 27%, 0.2) 0px 15px 29px 0px;
    border-radius: 25px;
    width: 700px;
}

/* RESULT BLOCK */

.result_block {
    background: linear-gradient(
        to bottom,
        var(--light-slate-blue-background),
        var(--light-royal-blue-background)
    );
    height: 100%;
    width: 50%;
    border-radius: 25px;
    padding: 35px;
    text-align: center;
}

.result_heading {
    color: var(--light-lavender);
    font-weight: 800;
}

.circle_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        var(--violet-blue-circle),
        var(--versian-blue-circle)
    );
    width: 170px;
    height: 170px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result_quantity {
    font-size: 65px;
    font-weight: 800;
    color: var(--pale-blue);
}

.result_main {
    font-weight: 700;
    color: var(--pale-blue);
    margin-bottom: 15px;
}

.result_article,
.result_total {
    color: var(--light-lavender);
}

/* SUMMARY BLOCK */

.summary_block {
    width: 50%;
    padding: 35px;
}

.summary_block ul {
    list-style: none;
}

.summaty_heading {
    color: var(--dark-gray-blue);
}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
}

.reaction_heading {
    color: var(--light-red);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.memory_heading {
    color: var(--orangey-yellow);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.verbal_heading {
    color: var(--green-teal);
}

.visual {
    background-color:  hsl(234, 85%, 45%, 0.1);
}

.visual_heading {
    color: var(--cobalt-blue);
}

.reaction_heading, 
.memory_heading,
.verbal_heading,
.visual_heading {
    padding-left: 10px;
    font-weight: 500;
}

.reaction,
.memory, 
.verbal, 
.visual {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
}

.summary_img_heding_block {
    display: flex;
    align-items: center;
}

.total {
    font-weight: 700;
    color: var(--dark-gray-blue);
    opacity: 0.5;
}

.quantity {
    font-weight: 700;
    color: var(--dark-gray-blue);
    padding-right: 5px;
}

@media (max-width: 630px) {

    .block {
        width: 100%;
        flex-direction: column;
    }
    
    .result_block {
        width: 100%;
        border-radius: 0 0 25px 25px;
    }

    .summary_block {
        width: 100%;
    }

}




























/* FOOTER 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
